*{
    margin: 0;
    padding: 0;
}
nav-bar{
    float: left;
}
nav-bar{
    border: 1px;
    padding
    
}
nav{
    position: fixed;
    width: 100%;
    padding-bottom: 1rem;
    background-color: rgb(20, 68, 20);    

}
ul li{
    display: inline-block;
    list-style: none;
    padding-top: 1.5rem;
    padding-left: 2.5rem;
   
}
ul li a{
    color: rgb(29, 26, 26);
    text-decoration: none;
    
}
ul li a:active{
    border: 1rem;
    border-color: white;
}
a:hover{
    color: gray;
}
